.PageError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    width: 100%;
}
.PageError img{
    width: 40%;
}
@media screen and (max-width: 768px) {
    .PageError img{
        width: 70%;
    }
}